<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>XMPP connection testing</title>
  </head>

  <body>
    <h1>XMPP connection testing</h1>
    <p><em>See JavaScript console.</em> 🚀</p>

    <div id="react-container"></div>

    <script src="{{ 'common.js'|make_static_path }}"></script>
    <script type='text/javascript'>
      var AttacherConfig = {
        service: '{{ config['BOSH_ENDPOINT_EXTERNAL'] }}'
      };
    </script>
    <script src="{{ 'attacher.js'|make_static_path }}"></script>
  </body>

</html>
